<style>

  .image-container {
    position: relative;
    display: inline-block;
  }
  .custom-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .custom-button {
    display: inline-block;
    background-color: var(--button-bg-color, #007bff);
    color: var(--button-text-color, #ffffff);
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* Adjust for pill or square shape */
    cursor: pointer;
    text-align: center;
    position: var(--button-position, absolute);
    z-index: 1;
    top: var(--button-top, 50%);
    left: var(--button-left, 50%);
    transform: translate(-50%, -50%);
    /* Ensure button is above the image if overlapping */
  }

  .custom-button p {
    margin: 0;
  }

  .custom-button:hover {
    filter: brightness(1.2);
    /* Lighten the button background color */
  }

  {% if block.settings.button_overlap %}
    .custom-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  {% endif %}
</style>


{% for block in section.blocks %}
  <div class="image-container-{{ block.settings.custom_class }}" id="image-container-{{ block.id }}">
    {% if block.settings.imageno %}
      <img
        class="custom-image"
        src="{{ block.settings.imageno | img_url: 'large' }}"
        alt="Custom Image">
    {% endif %}
    <button class="custom-button" style="--button-bg-color: {{ block.settings.button_bg_color }}; --button-text-color: {{ block.settings.button_text_color }}; --button-position: {{ block.settings.button_position }};--button-top: {{ block.settings.button_top }}%; --button-left: {{ block.settings.button_left }}%; border-radius:{{ block.settings.redondeao }}px;">
      <p>{{ block.settings.textoB }}</p>
    </button>
  </div>
{% endfor %}


{% schema %}
  {
    "name": "Bienvenida",
    "class": "inicioPag",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 12,
        "min": 8,
        "max": 64,
        "step": 1
      }
    ],
    "presets": [
      {
        "name": "GRID BUTTN-IMGS"
      }
    ],
    "blocks": [
      {
        "name": "BotonImg",
        "type": "ui",
        "settings": [
          {
            "type": "image_picker",
            "id": "imageno",
            "label": "upload ima"
          },
          {

            "type": "text",
            "id": "textoB",
            "label": "Texto Button"
          },
          {
            "type": "color",
            "id": "button_bg_color",
            "label": "Button Background Color",
            "default": "#007bff"
          },
          {
            "type": "color",
            "id": "button_text_color",
            "label": "Button Text Color",
            "default": "#ffffff"
          }, {
            "type": "range",
            "id": "redondeao",
            "label": "RoundButton",
            "default": 24,
            "min": 1,
            "max": 28,
            "step": 1
          }, {
            "type": "select",
            "id": "button_position",
            "label": "Button Position",
            "options": [
              {
                "value": "relative",
                "label": "Relative"
              }, {
                "value": "absolute",
                "label": "Absolute"
              }
            ],
            "default": "absolute"
          }, {
            "type": "checkbox",
            "id": "button_overlap",
            "label": "Overlap Image",
            "default": false
          }, {
            "type": "range",
            "id": "button_top",
            "label": "Button Top Position (%)",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1
          }, {
            "type": "range",
            "id": "button_left",
            "label": "Button Left Position (%)",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1
          }, {
            "type": "text",
            "id": "custom_class",
            "label": "Custom Class Name",
            "default": " "
          }
        ]
      }
    ]
  }
{% endschema %}